*{  margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgba(148,212,233,1);
    
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    font-size: 130%;
}

.container{
    margin-left: 10%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5%;
    width: 70%;
    align-items: center;
    color: #2b344b;
}

thead th{
    font-size: 130%;
}

thead{
    display: flex;
}

tbody img, 
tfoot img{
    width: 20px;
    padding-right: 5px;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

table thead th {
    background-color: rgba(148,212,233,1);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 12px;
    text-align: left;
    
}

table tbody td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table tbody tr:hover {
    background-color: #f5f5f5;
}

table tbody td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table tbody td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table{
    width: 30%;
    margin-left: 10%;
}

.objetivo{
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    font-size: 18px;
    
    
}

.objetivo h2{
    color: #fff;
    font-size: 30px;
    background-color:rgba(148,212,233,1) ;
    margin-bottom: 1vh;
}



.xp {
    margin-left: 10%;
    margin-top: 20px;
    
    
}

.xp-table{    
    margin-top: 20px;
    width: 80%;
}

.xp h2{
    color: #fff;
    font-size: 30px;
    background-color:rgba(148,212,233,1) ;
    width: 89%;   
    margin-bottom: 1vh; 
}

.xp b{
    font-size: 18px;
}

.escolaridade p{
    margin-top: 1vh;

}

.escolaridade article{
    margin-left: 10%;
    margin-top: 1%;
}

.escolaridade article footer{
    font-size: 15px;
    margin-top: 0.3vh;
}

.escolaridade article h2{
    color: #fff;
    font-size: 30px;
    background-color:rgba(148,212,233,1) ;
    width: 89%;
}

.rodape {
    margin-left: 10%;
    bottom: 80px;
    margin-top: 2%;
}

@media screen and (max-width: 1366px) {
.container {
    margin-left: 5%;
    padding: 10px;
    width: 85%;
}

table {
    width: 90%;
    margin-left: 5%;
}

.objetivo {
    margin-left: 5%;
    width: 90%;
}

.xp {
    margin-left: 5%;
}

.escolaridade article {
    position: static;
    margin-left: 5%;
    margin-top: 20px;
}

.rodape {
    margin-left: 5%;
}
}

footer {
    font-size: 12px;
}





